{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{{ parent() }}

<h2>Détail de la tâche</h2>

<ul class="list-unstyled">
    <li><strong>Intitulé :</strong> {{ session['todos'][id]['task'] }}</li>
    <li><strong>Statut :</strong> {{ session['todos'][id]['status'] }}</li>
    <li><strong>Créée le :</strong> {{ session['todos'][id]['created_at'] }}</li>
</ul>

<a href="{{ path('task_list') }}">Retour à la liste des tâches</a>

{% endblock %}
