{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{{ parent() }}

<div class="row">
    <h2>Liste des tâches</h2>
</div>

{# {% if app.flashes('success') %} #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{# {% endif %} #}

<div class="row justify-content-md-center">
    <table class="table table-sm table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-md-2">#</th>
                <th scope="col" class="col-md-4">Intitulé</th>
                <th scope="col" class="col-md-2">Gestion</th>
            </tr>
        </thead>
        <tbody>
            {% for taskIndex,infos_task in session['todos'] %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    <a href="{{ path('show_task', {'id': taskIndex}) }}">{{ infos_task.task }}</a>
                </td>
                <td data-id="{{ taskIndex }}">
                    <button type="button" class="btn btn-success btn-sm">Faite !</button>
                    
                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# {% for index, infos_task in session['todos'] %}
    <p> 
        Tâche {{ index }} : {{ infos_task.task }} <br>
        Ajoutée le : {{ infos_task.created_at }} <br>
        Status : {{ infos_task.status }}
    </p>
{% endfor %} #}

<div class="row">
    {{ include('todo/new_task_form.html.twig') }}
</div>

<div class="row">
    <p><a class="text text-danger" href="{{ path('reset_task') }}">Réinitialliser les tâches (dev)</a></p>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# feuille js gérant les actions liées aux boutons done / delete #}
    {# <script src="{{ asset('js/appTodo.js') }}"></script> #}
    <script>
        var ajaxUrl = "{{ path('delete_task')|e('js') }}";
    </script>

    <script src="{{ asset('js/appTodo.js') }}"></script>

{% endblock %}
